@model IEnumerable<TotalClean.Models.Oficina>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/tablas.css" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<h2>SERVICIOS DE OFICINA</h2>

<form asp-controller="Admin" asp-action="Oficinas">
    <p>
        Empresa: <input type="text" name="empresa">
        <span><input class="w3-button w3-light-green" type="submit" value="Buscar" /></span>
    </p>
    <p>
        Usuario: <input type="text" name="usuario">
        <input type="submit"  class="w3-button w3-light-green" value="Buscar" />
    </p>
    <p>
        Ciudad: <input type="text" name="ciudad">
        <input type="submit"  class="w3-button w3-light-green" value="Buscar" />
    </p>
    <p>
        Distrito: <input type="text" name="distrito">
        <input type="submit"  class="w3-button w3-light-green" value="Buscar" />
    </p>
</form>
<br>


<table class="table" id="t01">
    <thead>
        <tr>
            <th> @Html.DisplayNameFor(model => model.ID)</th>
            <th> @Html.DisplayNameFor(model => model.User)</th>
            <th> @Html.DisplayNameFor(model => model.Empresa)</th>
            <th> @Html.DisplayNameFor(model => model.RUC)</th>
            <th> @Html.DisplayNameFor(model => model.Telefono)</th>
            <th> @Html.DisplayNameFor(model => model.Dia)</th>
            <th> @Html.DisplayNameFor(model => model.Horas)</th>
            <th> @Html.DisplayNameFor(model => model.Ciudad)</th>
            <th> @Html.DisplayNameFor(model => model.Distrito)</th>
            <th> @Html.DisplayNameFor(model => model.Direccion)</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ID)</td>
            <td>@Html.DisplayFor(modelItem => item.User)</td>
            <td>@Html.DisplayFor(modelItem => item.Empresa)</td>
            <td>@Html.DisplayFor(modelItem => item.RUC)</td>
            <td>@Html.DisplayFor(modelItem => item.Telefono)</td>
            <td>@Html.DisplayFor(modelItem => item.Dia)</td>
            <td>@Html.DisplayFor(modelItem => item.Horas)</td>
            <td>@Html.DisplayFor(modelItem => item.Ciudad)</td>
            <td>@Html.DisplayFor(modelItem => item.Distrito)</td>
            <td>@Html.DisplayFor(modelItem => item.Direccion)</td>
        </tr>
}
    </tbody>
</table>