@model IEnumerable<TotalClean.Models.Hogar>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/tablas.css" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<h2>SERVICIOS DE HOGARES</h2>

<br>


<table class="table" id="t01">
    <thead>
        <tr>
            <th> @Html.DisplayNameFor(model => model.User)</th>
            <th> @Html.DisplayNameFor(model => model.Telefono)</th>
            <th> @Html.DisplayNameFor(model => model.Dia)</th>
            <th> @Html.DisplayNameFor(model => model.Horas)</th>
            <th> @Html.DisplayNameFor(model => model.Ciudad)</th>
            <th> @Html.DisplayNameFor(model => model.Distrito)</th>
            <th> @Html.DisplayNameFor(model => model.Direccion)</th>
            <th> @Html.DisplayNameFor(model => model.Tipo)</th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.User)</td>
            <td>@Html.DisplayFor(modelItem => item.Telefono)</td>
            <td>@Html.DisplayFor(modelItem => item.Dia)</td>
            <td>@Html.DisplayFor(modelItem => item.Horas)</td>
            <td>@Html.DisplayFor(modelItem => item.Ciudad)</td>
            <td>@Html.DisplayFor(modelItem => item.Distrito)</td>
            <td>@Html.DisplayFor(modelItem => item.Tipo)</td>

        </tr>
}
    </tbody>
</table>
